#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#ext_menu-0 .mbr-navbar__section {
  background: #475577;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#slider2-6 P {
  color: #000000;
  text-align: center;
}
#slider2-6 H1 {
  color: #000000;
}
